body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F3F4F4;
  color: #061E29;
}

h1 {
  margin-bottom: 25px;
  font-weight: 600;
  color: #1D546D;
  text-align: center;
}

h3 {
  margin-bottom: 15px;
  color: #1D546D;
}


/* Inputs */
input, select {
  padding: 8px;
  width: 250px;
  border: 1px solid #5F9598;
  border-radius: 5px;
  margin-bottom: 12px;
  outline: none;
}

input:focus, select:focus {
  border-color: #1D546D;
}

/* Buttons */
button {
  padding: 8px 14px;
  background-color: #1D546D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #061E29;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background-color: #5F9598;
  color: white;
  text-align: left;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}

tr:hover {
  background-color: #f0f8f8;
}
